@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Add a black background color to the top navigation */
.topnav {
    background: #045c5d;
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #85dcb0;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a img {
    width: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
}



.title {
    font-size: 34px;
    font-weight: bold;
    text-align: left;
    padding-left: 60px;
}

.carousel{
    margin-bottom: 70px;
}

.dropdown-content{
    top: 0 !important;
}
.row{
    margin: 0 !important;
}

.bodyContainer{
    margin: auto;
    padding: 40px;
}

@media only screen and (min-width: 1240px){
    .bodyContainer{
        width: 1200px;
    }
}

.collegeSearch .search-wrapper{
    position:relative;
    width: 400px;
    top: -50px;
}

.collegeSearch i.material-icons{
    position:absolute;
    top: 12px;
    left: 365px;
}
